body {
    margin: 0;
}

#game-screen {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

/* TITLE SCREEN */

#title {
    text-align: center;
}

h1 {
    margin: 0;
    color: red;
}

#title img {
    margin: 0 auto 0 auto;
    height: 80px;
    display: block;
}

#play-button-title {
    width: 60%;
    border: 3px solid white;
    outline: none;
}

#play-button-title:hover {
    border: 3px solid red;
    color: red;
}

/* BATTLE SCREEN */

#battle {
    display: none;
}

#meters {
    padding: 0 0 16px 0;
    display: flex;
    justify-content: space-around;
}

.meter {
    margin: 1px;
    height: 100px;
    width: 20px;
    display: flex;
    align-items: flex-end;
    background: black;
}

#fear-meter {
    border: 3px solid purple;
}

#greed-meter {
    border: 3px solid gold;
}

#anger-meter {
    border: 3px solid rgb(202, 30, 30);
}

.bar {
    height: 0%;
    width: 100%;
    background: yellow;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0;
    width: 65px;
    background: black;
    color: white;
}

#fear-button {
    border: 2px solid purple;
    outline: none;
}

#greed-button {
    border: 2px solid gold;
    outline: none;
}

#anger-button {
    border: 2px solid rgb(202, 30, 30);
    outline: none;
}

/* WIN SCREEN */

#win {
    display: none;
    text-align: center;
}

#win p {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
    color: limegreen;
}

#play-button-win {
    width: 60%;
    border: 3px solid white;
    outline: none;
}

#play-button-win:hover {
    border: 3px solid red;
    color: red;
}

/* LOSE SCREEN */

#lose {
    display: none;
    text-align: center;
}

#lose p {
    margin: 0 0 2rem 0;
    font-size: 2.25rem;
    color: red;
}

#play-button-lose {
    width: 60%;
    border: 3px solid white;
    outline: none;
}

#play-button-lose:hover {
    border: 3px solid red;
    color: red;
}