body {
    margin: 0;
    width: 200px;
    padding: 16px;
}

#meters {
    padding: 0 0 16px 0;
    display: flex;
    justify-content: space-around;
}

.meter-set {
    display: flex;
    justify-content: center;
}

.meter {
    margin: 1px;
    height: 100px;
    width: 20px;
    border: 3px solid black;
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 100%;
    background: red;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 0;
    width: 65px;
}

/* BAR PERCENTAGES */

.bar0 {
    height: 0%;
}

.bar1 {
    height: 10%;
}

.bar2 {
    height: 20%;
}

.bar3 {
    height: 30%;
}

.bar4 {
    height: 40%;
}

.bar5 {
    height: 50%;
}

.bar6 {
    height: 60%;
}

.bar7 {
    height: 70%;
}

.bar8 {
    height: 80%;
}

.bar9 {
    height: 90%;
}

.bar10 {
    height: 100%;
}